# To display SVG images
AddType image/svg+xml svg
AddType image/svg+xml svgz
AddEncoding x-gzip .svgz


RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php